* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #d1d8e0;

}

.navbar {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #ecf0f1;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.cart-cont {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 100%;
    font-weight: bold;


}

.side-navbar {
    margin-bottom: 20px;
    height: 100%;
    width: 50%;
    background-color: rgba(67, 67, 73, 0.99);
    color: white;
    top: 0;
    position: fixed;
    padding: 30px;
    left: -70%;
    transition: 1s;
    z-index: 1;
}

.side-navbarItems p {
    column-gap: 3cap;
    margin-bottom: 60px;
}

.side-navbarItems p a {
    text-decoration: none;
    color: white;
}

.side-navbarItems p a:hover {
    text-decoration: underline;
}

.navbarItems {
    display: flex;
    column-gap: 3cap;
}

.navbarItems p a {
    text-decoration: none;
    color: rgba(67, 67, 73, 0.99);
}

.navbarItems p a:hover {
    text-decoration: underline;
}

.navItems-toggle {
    display: none;
}


.header {
    padding: 50px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
    align-items: center;
    text-align: center;
}


.header a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    display: inline-block;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.header a:hover {
    text-decoration: none;
    background-color: #222;
    transform: translateY(-2px);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


.service {
    padding: 20px;
}

.service-containers-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.our-service-dec {
    display: flex;
    padding: 40px;
    text-align: center;
    justify-self: center;
}

.service-containers-2 {
    display: flex;
    flex: 1 1 20%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    column-gap: 10px;
}

.new-arrivals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
    align-items: center;
}

.new-arrival-elements {
    position: relative;
    flex-basis: 20%;
}

.new-arrival-elements button {
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    top: 40%;
    left: 25%;
    border-radius: 10px;
    display: none;
    font-weight: bolder;
}

.new-arrival-elements:hover button {
    display: block;
    cursor: pointer;
}



.emoji1 {
    background-color: #dcdde1;
    margin: 10px;
    min-height: 180px;
    padding: 5px;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.news input {
    padding: 10px;
    margin-bottom: 10px;
    width: 80vw;
    border: solid black 3px;
}

.news button {
    padding: 10px;
    font-weight: bolder;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.news button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.foot {
    margin-top: 20px;
    bottom: 0;
    color: white;
    background-color: rgba(67, 67, 73, 0.99);
    padding: 40px;
    row-gap: 5px;
    column-gap: 10px;
    display: flex;
    justify-content: space-between;
}

.foot a {
    color: white;
}

.product-section {
    margin: 10px;
}

.product-search {
    margin: 20px;
    border-radius: 15px;
    border: solid black 2px;
    font-size: 30px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-search input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
}

.product-items {
    display: flex;
    flex: 1 1 20%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    column-gap: 10px;
}

.product-box {
    text-align: center;
    flex-basis: 20%;
    position: relative;
}

.product-box button {
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    top: 40%;
    left: 25%;
    display: none;
    font-weight: bolder;
}

.product-box:hover button {
    display: block;
    cursor: pointer;
}

.contact {
    margin: 40px;
    background-color: rgba(67, 67, 73, 0.99);
    color: white;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.contact input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact textarea {
    width: 80%;
    height: 150px;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    /* ensures padding stays within width */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button {
    background-color: green;
    color: black;
    padding: 10px;
    font-weight: bolder;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contact button:hover {
    cursor: pointer;
    background-color: white;
    color: green;
}

.emptycart {
    display: flex;
    flex-direction: column;
    height: 30vw;
    justify-content: center;
    text-align: center;
}

.login-box button,  .clearCart, .emptycart a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    display: inline-block;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.clearCart,.login-box button, .emptycart a:hover {
    text-decoration: none;
    background-color: #222;
    transform: translateY(-2px);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.cart-container h1{
    display: block;
    width: 100%;
    text-align: center;
}
.cart-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
}
.cart-item{
    flex-basis: 25%;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.login-header{
    margin-top: 30px;
display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh; /* full screen height */
}

.login-box{
  background-color:#778ca3;
  padding: 50px;
  border-radius: 15px;
  width: 90vw;
  max-width: 500px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.login-box form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;

}
.login-box span{
    display: flex;
  flex-direction: column;

    

}
.login-box input{
padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  margin-top: 5px;
}
.login-options{
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    text-align: center;
}
.login-options a{
    text-decoration: none;
    cursor:pointer;
}
.other-options{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    text-align: center;
}
.other-options a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
}


@media screen and (max-width:800px) {
    .navItems-toggle {
        display: flex;
    }

    .navbarItems {
        display: none;

    }

    .header img {
        display: none;
    }

    .side-navbar {
        display: display;

    }

    .service-containers-1 {
        display: none;
    }

    .service-containers-2 {
        flex-direction: column;
    }

    .form-group {
        display: block;
    }

}